
@model testing.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <div class="dl-horizontal">

        @*<div style="overflow: hidden;
            background-color:lightblue">*@
        <dd style="float: left;
                 background-color:lightblue;
                 margin-bottom:200px;
                 text-align:center;
                padding:10px;">
            @Html.DisplayFor(model => model.Name)-
            @Html.DisplayFor(model => model.Price) EGP(
            @Html.DisplayFor(model => model.category_id) )
        </dd>
    </div>
    @*<div>*@
        @*<dd>*@
        @*@Html.DisplayFor(model => model.Image)*@
        <img src="@Url.Content("~/Uploads/"+Model.Image)" width="300" height="200" class="center" top=100px margin=25px10px display=inline-block />
        @*</dd>*@
    @*</div>*@
    <div>
        @*<dd>*@
        @Html.DisplayFor(model => model.Description)
        @*</dd>*@
    </div>

    @*<div style="overflow: hidden;>*@

    @Html.ActionLink("Update", "Edit", "Product", new { @class = "btn btn-primary" })
    @Html.ActionLink("Delete", "Delete", "Product", new { @class = "btn btn-primary" })


    @*</div>*@


    @*</dl>*@
</div>

<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.id }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>








