@model testing.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">

        <div style="background-color:lightblue"
             style="overflow: hidden;">
            <dd style="float: left;">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <p>-</p>
            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dd>
                @Html.DisplayFor(model => model.category_id)
            </dd>
        </div>
        <div>
            <dd>
                @Html.DisplayFor(model => model.Image)
            </dd>
        </div>
        <div>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
        </div>
        <div style="overflow: hidden;">
            <button style="background-color:green" style="float: left;" type="button" onclick="alert('forbidden')">UPDATE</button>
            <button style="background-color:red" style="float: right;" type="button" onclick="alert('forbidden')">DELETE</button>

            </divstyle="overflow:>
</dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
















