@model testing.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">

        
            <td style="background-color:lightblue">
                @Html.DisplayFor(model => model.Name)
            </td>
            @*<p style="float: left;">-</p>*@
            <td style="background-color:lightblue">
                @Html.DisplayFor(model => model.Price)
            </td>
            <td style="background-color:lightblue">
                @Html.DisplayFor(model => model.category_id)
            </td>
        
        
            <dd>
                @*@Html.DisplayFor(model => model.Image)*@
                <img src="@Url.Content("~/Uploads/"+Model.Image)"width="300" height="200" />
            </dd>
       
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
        
        
            <button style="background-color:green;float: left;" type="button" onclick="alert('forbidden')">UPDATE</button>
            <button style="background-color:red;" type="button" onclick="alert('forbidden')">DELETE</button>

       

    </dl>
</div>

<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.id }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
















