@model testing.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">

        <div style="overflow: hidden;
             background-color:lightblue">
            <dd style="float: left;">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <p style="float: left;">-</p>
            <dd style="float: left;">
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dd style="float: left;">
                @Html.DisplayFor(model => model.category_id)
            </dd>
        </div>
        <div>
            <dd>
                @*@Html.DisplayFor(model => model.Image)*@
                <img src="@Url.Content("~/Uploads/"+Model.Image)"width="300" height="250" />
            </dd>
        </div>
        <div>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
        </div>
        <div style="overflow: hidden;">
            <button style="background-color:green;float: left;" type="button" onclick="alert('forbidden')">UPDATE</button>
            <button style="background-color:red;" type="button" onclick="alert('forbidden')">DELETE</button>

            </div>

    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
















